ul {
	list-style-type: none;
	font-size: 13px;
	color: #666;
	margin: 8px;
}

a {
	font-size: 18px;
	padding: 10px;
}

.error-field {
	color: #ff0000;
}

.upload-img {
	background: url(../img/uploadimg.jpg);
}
.photos {
	height: 402px;
	position: relative;
	width: 100%;
}
.photos, .pic-grid {
	background: #f5f5f5;
}
.carousel-control.left,
.carousel-control.right
 {
background-image: none;
}

.upload-img-form {
}

.pic {
	max-height: 150px;
	margin: 0 auto;
}

.add-pic{
	padding: 16px;
    max-width: 150px;
    max-height: 150px;
}

.form-control {
	font-family: 'Helvetica-Neue', Arial;
}

.pic-card {
	padding-bottom: 16px;
}

.add-photo-btn {
	border-radius: 100%;
	height: 50px;
	width: 50px;
	background-color: #fcc368;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.title-field, .title-field:focus{
	font-size: 36px;
	width: 100%;
	outline: none;
	border: none;
}

textarea, .description-field, .description-field:focus {
	font-size: 20px;
	width: 100%;
	outline: none;
	border: none;
}