ul {
	list-style-type: none;
	font-size: 13px;
	color: #666;
	margin: 8px;
}
a {
	font-size: 18px;
	padding: 10px;
}
.error-field {
	color: #ff0000;
}
.btn {
	width: 60%;
}
.stripe-btn {
	margin-top: 18px;
}