ul {
	list-style-type: none;
	font-size: 13px;
	color: #666;
	margin: 8px;
}

.btn-delete-photo {
	font-size: 18px;
	padding: 10px;
}

.error-field {
	color: #ff0000;
}

.form-control {
	font-family: 'Helvetica-Neue', Arial;
}

input[type=text], 
textarea, 
.input-group-addon,
.dropdown-toggle {
/*	background: rgba(0,0,0,0);
*/}

input[type=text], textarea {
	transition: border-color 0.4s ease;
	border-color: #ddd;
	border-width: 0 0 2px 0;
	padding: 8px 0;
	width: 100%;
}

input[type=text]:focus, textarea:focus {
	transition: border-color 0.4s ease;
	outline: none;
    border-color: #5bc0de;
}

.form-row {
	padding: 4px 0;
}

.form-label {
	color: #aaa;
}
.dropdown-toggle {
	border: none;
}
.input-group-addon {
	background: rgba(0,0,0,0);
	border: none;
	font-size: inherit;
	padding: 0;
}

.title-field, .title-field:focus{
	font-size: 36px;
	width: 100%;
}

.text-field {
	font-size: 18px;
	background: #fff;
}

.seat {
	cursor: pointer;
	z-index: 1004;
}

#starts {
	z-index: 100;
}

#rsvp-by-time {
	z-index: 100;
}
.seat, {

}

/*
Meals list styling
*/

.meal-list-item {
	padding: 12px 12px 12px 0;
	background-color: #fff;
}
.meal-list-title {
	margin-top: 0px;
}
.non-white {
	background-color: #eee;
}
.live {
	color: #19a347;
}
.meal-list {
	padding: 15px 0 15px 0;
}
.cost {
	padding-left:0;
}
/* 
Photo Upload Interface
*/
hr {
	height: 2px;
	background-color: #bbb;
}
.list-hr {
	height: 1px;
	background-color: #ddd;
}
.btn-delete-photo {
	float: right;
	position: absolute;
	right: 30px;
   	top: 10px;
   	z-index: 1000;
   	font-size: 20px;
   	height: 40px;
   	width: 40px;
   	padding: 4px;
   	margin: 4px;
   	background: #333;
   	border-radius: 50%;
   	cursor: pointer;
   	display: none;
}

.delete-icon {
	color: #fff;
}

.upload-icon {
	font-size: 70px;
	color: #aaa;
}

.upload {
	cursor: pointer;
}

.upload-in-card {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
}

.upload-card {
	width: 100%;
	margin-bottom: 20px;
}

.upload-card-text {
	color: #5bc0de;
	padding-bottom: 16px;
}

.btn-upload {
	margin: 10px;
}

.pic {
	margin: 0 auto;
}

.pic-card {
	margin-bottom: 16px;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}

.pic-card:hover .btn-delete-photo{
    display: inline;
}

.fileUpload {
	position: relative;
	overflow: hidden;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.caption-field, #caption-field {
	background: #fff;
	padding-left: 8px;
}