.carousel-inner > .item > img {
    margin: 0 auto;
}
.disclaimer-text {
    font-size: 10px;
    color: #555;
}
.meal-pic-title-desc {
    padding: 0;
    background: #eee;
    color: #414141;
}
.info-col {
    margin-top: 20px;
    padding: 0;
}
.chef-pic-name {
    margin-top: 15px;
}

.chef-name {
    margin-bottom: 10px;
    margin-top: 0;
}

.host-pic {
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.vital-info-row {
    margin: 0 8px;
}

.content-section {
    padding-top: 100px;
}

.btn-payment {
    width: 60%;
}
.fb-login {
    max-height: 50px;
    cursor: pointer; 
    margin: 0 auto;
}

.invoice-text {
    font-size: 12px;
}
.error-field {
    color: #ff2222;
}
.meal-description, .meal-title {
    font-family: Muli;
}
.vital-subtext {
    color: #666;
    font-size: 16px;
}
.review-text{
    font-size: 18px;
}
.guest-pic {
    margin-top: 20px;
    max-height: 120px;
}
.star-rating {
    color:#fad850;
    font-size: 32px;
}
.map-row {
    position: relative;
    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 600px 300px;
}
.map-radius {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grey-star {
    color:#828282;
}
.carousel-control.left,
.carousel-control.right
 {
background-image: none;
}
