/*#chefs-apply-1 {
	background: url(../img/chefs-apply-bg1.jpg) no-repeat bottom center scroll;
	background-size: cover;
}
#chefs-apply-2 {
	background: url(../img/chefs-apply-bg2.jpg);
	background-size: cover;
}
#chefs-apply-3 {
	background: url(../img/chefs-apply-bg3.jpg) no-repeat bottom center scroll;
	background-size: cover;

}
#chefs-apply-4 {
	background: url(../img/chefs-apply-bg4.jpg) no-repeat bottom center scroll;
	background-size: cover;
}
*/
.icon {
	max-height: 200px;
	border-radius: 100%;
	box-shadow: 5px 5px 5px #ccc;
}
header {
	display: table;
	width: 100%;
	height: 100%;
	color: #fff;
}
#header {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	background: url(../img/food-salad-healthy-vegetables.jpg) no-repeat center scroll;
}

#down-icon {
	font-size: 36px;
	padding-top: 20px;
	width: 80px;
	height: 80px;
	border-radius: 100%;
	color: #fff;
	border-width: 3px;
	border-style: solid;
	transition-timing-function: ease-in;
    transition: width .7s, height .7s, font-size .7s;

}

#down-icon:hover {
	font-size: 40px;
	width: 90px;
	height: 90px;
	border-width: 4px;
	transition-timing-function: ease-in;
    transition: width .33s, height .33s, font-size .33s, border-width .33s;
}

#down-btn {
	position: absolute;
	bottom: 0;
	margin-bottom: 48px;
	vertical-align: bottom;
	width: 100%;
}

.body {
	margin-top: 48px;
}
.body-section {
	margin-bottom: 48px;
}
/*
For the requirements section
*/
ul {
	list-style: none;
}
li {
	font-size: 18px;
	margin: 12px auto;
}
h1 {
	font-size: 48px;
}

body {
	background-color: #f1f1f1;
	color: #434343;
}