.carousel-inner > .item {
    width: 100%;
    height: 500px;
    overflow: hidden;
    float: left;
    @media(max-width: 768px) {
        height: 250px;
    }
    & > img {
        width: 150%;
        min-height: 100%;
        overflow: hidden;
        text-align: center;
        position: relative;
    }
}
.disclaimer-text {
    font-size: 10px;
    color: #555;
}
.meal-pic-title-desc {
    padding: 0;
    background: #eee;
    color: #414141;
}
.info-col {
    margin-top: 20px;
    padding: 0;
}

.host-pic {
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
.publish button,
.publish-sticky button {
    margin: 8px;
}
.publish-sticky{
    z-index: 2;
}

/*
Payment UI Styling
*/
.affix {
    top: 0;
}

.book-meal > .brand-btn {
    width: auto;
    padding: 8px 16px;
}

.book-sticky {
    padding-left: 0;
    z-index: 1;
}
.book-meal {
    background-color: #f1f1f1;
    padding: 15px;
}
.book-btn {
    font-size: 24px;
    padding: 4px 16px;
}
.price-row {
    padding: 15px 0;
    * {
        display: inline;
    }
}

#payment-form {
    padding-bottom: 16px;
}
.invoice-text {
    font-size: 12px;
}
.error-field {
    color: #ff2222;
}
.chef-header{
    margin-top: 0;
}
#carousel-container {
    padding: 0;
}

.review-text{
    font-size: 18px;
}
.guest-pic {
    margin-top: 20px;
    max-height: 120px;
}
.map-row {
    position: relative;
    width: 600px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 600px 300px;
    margin-bottom: 48px;
}
.map-img {
    max-width: 600px;
    max-height: 300px;
}
.map-radius {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carousel-control.left,
.carousel-control.right
 {
background-image: none;
}
.host-attendees-col {
    padding-top: 24px;
}